.sidebar__navlink{
    display: inline-block;
    color: #c7d4dd;
    height: 40px;
    width: 248px;
    padding: 6px 16px;
    background-color: var(--sidebar-gray);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.navlink__route span{
    font-weight: 500;
    font-size: 14px;
}

.sidebar__navlink:hover{
    background-color: var(--hover-gray);
}

.navlink__img{
    display: flex;
    align-items: center;
    justify-content: center;

    & *{
        width: 18px;
        height: 18px;
    }
}

.active{
    color: black;
    background-color: var(--sidebar-violet);
}

.active:hover{
    background-color: var(--sidebar-violet);
}