.sidebar__navlink{
    display: inline-block;
    height: 50px;
    width: 100%;
    padding: 6px 16px;
    background-color: var(--sidebar-gray);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.navlink__route span{
    margin-left: .4rem;
    font-weight: 400;
}

.sidebar__navlink:hover{
    background-color: var(--hover-gray);
}


.active{
    border-radius: 10px;
    color: black;
    background-color: var(--sidebar-violet);
}

.active:hover{
    background-color: var(--sidebar-violet);
}