.app__sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 18.5%;
    height: 100vh;
    background-color: #202427;
    color: white;
}

.app__sidebar p{
    font-size: 14px;
    font-weight: 500;
    color: #9fa6ad;
    margin-bottom: 1rem;
}

.app__sidebar-links{
    padding: 16px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.app__sidebar-links li{
    margin-bottom: .5rem;
    font-size: 14px;
}

.app__sidebar-logo{
    height: 142px;
}


.app__sidebar-logo img{
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}