.app__sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh;
    background-color: #202427;
    color: white;
}

.app__sidebar-links{
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.app__sidebar-links li{
    margin-bottom: 1rem;
}


.app__sidebar-logo img{
    width: 100%;
    left: 0;
    cursor: pointer;
}