.app__base{
    position: relative;
    top: 0;
    left: 18.5%;
    width: 81.5%;
    /* border: 2px solid black; */
    height: 100vh;
    background-color: var(--main-black);
    color: var(--main-white);
}

.padded{
    padding: 4rem 2rem;
}

li{
    list-style: none;
}

.flex__center{
    display: flex;
    align-items: center;
    justify-content: center;
}