.app__base{
    position: relative;
    top: 0;
    left: 18%;
    width: 82%;
    /* border: 2px solid black; */
    height: 100vh;
}

.padded{
    padding: 4rem 2rem;
}

li{
    list-style: none;
}

.flex__center{
    display: flex;
    align-items: center;
    justify-content: center;
}