*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    scroll-behavior: smooth;
}

:root {
    --font-base: 'inter';
}

a{
    text-decoration: none;
    color: unset;
    font-family: var(--font-base);
}

